.slick-prev::before,
.slick-next::before {
    display: none;

}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
    background-color: #428aff00;
    justify-self: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    opacity: 0.8;
    height: 40px;
    width: 40px;
    z-index: 1;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover {
    background-color: #cecece;
    opacity: 1;
}

blockquote {
    margin: 10px 20px;
    padding-left: 10px;
    border-left: 3px solid #ccc;
    color: #666;
    font-style: italic;
}

/* Định dạng chung cho cả ul và ol */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

/* Style cho ul (unordered list) */

ul li {
    padding: 5px 0;
    line-height: 1.5;
}
.custom {
    padding:0px ;
}
ol {
    padding-left: 20px;
    list-style-type: decimal;
}

ol li {
    padding: 5px 0;
    line-height: 1.5;
}

ul.square {
    list-style-type: square;
}

ul.circle {
    list-style-type: circle;
}

ol.upper-roman {
    list-style-type: upper-roman;
}

ol.lower-alpha {
    list-style-type: lower-alpha;
}